
.pwl-page1{
	background-color: saddlebrown;
		background: url(../images/background.jpg);
}
.pwl-page2{
	background-color: seagreen;
		background: url(../images/background.jpg);
}
.pwl-page3{
	background-color: wheat;
		background: url(../images/background.jpg);
}
